@font-face {
	font-family: 'YellovaSignature';
	src: url('fonts/YellovaSignature.ttf') format('truetype');
}

@font-face {
	font-family: 'Angst-Thin';
	src: url('fonts/Angst-Thin.otf') format('opentype');
}

html {
  scroll-behavior: smooth;
	height: 100%;
}

/* Тело */
body {
	background-color: #000;
	margin: 0;
	padding: 0;
	color: white;
	line-height: 1.6;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* важно для футера */
}

.MenuButton {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 30px;
	height: 20px;
	cursor: pointer;
	z-index: 1001;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	opacity: 0;
	transform: translateX(-40px); /* уезжает влево */
	animation: slideInFromLeft 0.7s ease-out forwards;
	animation-delay: 2s; /* появляется после Portfolio */
}

/* Полоски (оставляем как было) */
.MenuButton span {
	display: block;
	height: 1px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 2px;
	transition: all 0.3s ease;
}

/* Крестик */
.MenuButton.open span:nth-child(1) {
	transform: translateY(9px) rotate(45deg);
}

.MenuButton.open span:nth-child(2) {
	opacity: 0;
}

.MenuButton.open span:nth-child(3) {
	transform: translateY(-9px) rotate(-45deg);
}

/* Анимация появления */
@keyframes slideInFromLeft {
	from {
		opacity: 0;
		transform: translateX(-40px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}


/* Открытое Боковое Меню */
.side-menu {
	position: fixed;
	top: 0;
	right: -250px;
	width: 250px;
	height: 100%;
	background-color: #0f0f0f;
	color: white;
	transition: right 0.3s ease;
	z-index: 1000;
	padding-top: 40px;
}

.side-menu.open {
	right: 0;
}

.side-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.side-menu li {
	padding: 5px 20px;
}

.side-menu a {
	color: #c99e7d;
	text-decoration: none;
	display: block;
	font-weight: 400;
	font-family: 'Angst-Thin';
	font-size: 25px;
}

.side-menu a:hover {
	color: #fff;
}

/* Затемнение Фона */
#Blackout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease;
}

#Blackout.active {
	opacity: 1;
	visibility: visible;
}


@keyframes colorFadeIn {
	0% {
		opacity: 0;
		color: #000000; 
	}

	50% {
		opacity: 0.7;
		color: #9c826e;
	}
	100% {
		opacity: 1;
		color: #c99e7d;
	}
}


h2.AboutAA {
	color: #fff;
	font-family: 'Angst-Thin';
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 3px;
	margin-top: 10px;
	animation: fadeIn 1.2s ease-out forwards;
	opacity: 0;
	animation-delay: 1.5s;
}

main {
	max-width: 1000px;
	margin: 90px auto 0 auto; /* верхний margin */
	padding: 0 20px;
	flex: 1; /* растягивает main на оставшееся место */
}

section {
	margin-bottom: 100px;
	text-align: center;
	opacity: 0;
	transform: translateY(30px);
	animation: slideUpFade 1s ease-out forwards;
}

.about {
	animation-delay: 2.5s;
}

.about h2{
	font-family: 'YellovaSignature';
	font-size: 50px;
	color: #c99e7d;
	letter-spacing: 4px;
	margin-bottom: 40px;
	font-weight: 400;
}

.about p {
	font-size: 18px;
	color: #ccc;
	margin-bottom: 15px;
	font-weight: 400;
	font-family: 'Angst-Thin';
	animation: fadeInText 0.8s ease-out forwards;
	opacity: 0;
}

.about p:nth-of-type(1) {
	animation-delay: 3.2s;
}
.about p:nth-of-type(2) {
	animation-delay: 3.4s;
}
.about p:nth-of-type(3) {
	animation-delay: 3.6s;
}

@keyframes fadeScaleIn {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInText {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideUpFade {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
